* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  background-color: #2d2d39;
  color: white;
  overflow-x: hidden;
}

h2,
h3 {
  margin-bottom: 1rem;
}

/*
layout
*/
.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  margin: 1rem;
}

header,
footer,
.summary-container,
.chart-container {
  min-width: 320px;
  border-radius: 8px;
  background-color: #393948;
}

header,
.summary-container,
.chart-container {
  padding: 1rem;
}

.charts-wrapper {
  height: 100%;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*
summary
*/
.summary-container {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem;
}

.summary-container p,
header p {
  font-size: 14px;
}

/*
chart
*/
.chart-container {
  width: calc(50% - 2.5rem);
  height: 330px;
  margin-bottom: 1rem;
}

.chart-container h3 {
  height: 32px;
}

.responsive-container {
  width: 100%;
  height: 100%;
}

.chart {
  width: 100%;
  max-width: 640px;
  overflow-x: auto;
  overflow-y: hidden;
}

.sentiment-chart {
  height: calc(276px - 2rem);
  padding-bottom: 32px;
}

.mention-chart {
  height: calc(308px - 2rem);
}

.custom-tooltip {
  background-color: white;
  font-weight: 600;
  padding: 4px 12px;
  color: #1b1d30;
}

/*
footer
*/
footer {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  margin: auto 1rem 1rem;
}

footer p {
  font-size: 13px;
}

footer a {
  color: white;
  text-decoration: none;
}

/*
message
*/
.app-message {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 966px) {
  html {
    font-size: 12px;
  }
  .chart-container {
    width: 100%;
  }
}
