@import-normalize;

html {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  background-color: #2d2d39;
  color: white;
  overflow-x: hidden;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-message {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  margin: 1rem;
  padding: 0 1rem;
  background-color: #393948;
  border-radius: 8px;
  min-width: 320px;
}

footer {
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #393948;
  border-radius: 8px;
  height: 48px;
  margin: auto 1rem 1rem;
  min-width: 320px;
  padding: 0 1rem;
}

.info-container {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  background-color: #393948;
  margin: 0 1rem 1rem;
  border-radius: 8px;
  min-width: 320px;
}

.info-container p,
header p {
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
}

footer p {
  font-size: 13px;
}

footer a {
  color: white;
  text-decoration: none;
}

.main-container {
  height: 100%;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.chart-container {
  width: calc(50% - 2.5rem);
  min-width: 320px;
  height: 300px;
  background-color: #393948;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.responsive-container {
  width: 100%;
  height: 100%;
}

.chart {
  width: 100%;
  height: 200px;
  padding-bottom: 32px;
  overflow-x: auto;
  overflow-y: visible;
}

.chart-container .chart-title {
  margin-bottom: 2rem;
}

.custom-tooltip {
  background-color: white;
  font-weight: 600;
  padding: 4px 12px;
  color: #1b1d30;
}

@media only screen and (max-width: 966px) {
  html {
    font-size: 12px;
  }
  .chart-container {
    width: 100%;
  }
}
